<ejs-querybuilder #querybuilder width="70%" [dataSource]="data" [rule]="importRules">
  <e-columns>
    <e-column field="EmployeeID" label="Employee ID" type="number"></e-column>
    <e-column field="FirstName" label="First Name" type="string"></e-column>
    <e-column field="TitleOfCourtesy" label="Title Of Courtesy" type="boolean" [values]="values"></e-column>
    <e-column field="Title" label="Title" type="string"></e-column>
    <e-column field="HireDate" label="Hire Date" type="date" format="dd/MM/yyyy"></e-column>
    <e-column field="Country" label="Country" type="string"></e-column>
    <e-column field="City" label="City" type="string"></e-column>
  </e-columns>
</ejs-querybuilder>`