<div id="reactive-form">
  <div class="control-section">
      <div class="col-lg-8  content-wrapper">
          <div id='content' class='box-form' style="margin: 0 auto; width:250px; padding:25px">
              <form [formGroup]="skillForm" novalidate id="formId">
                  <div class="form-group">
                      <ejs-autocomplete formControlName="skillname" name="skillname"
                          [dataSource]='skillset' allowCustom=false [placeholder]='placeholder'
                          floatLabelType='Auto'>
                      </ejs-autocomplete>
                  </div>
                  <div class="form-group" style="padding-top:10px;">
                      <div class="e-float-input">
                          <input type="text" autocomplete="off" (focus)="onfocus($event)"
                              (blur)="onblur($event)" formControlName="sname" name="sname"
                              maxlength="10" />
                          <span class="e-float-line"></span>
                          <label class="e-float-text e-label-bottom">Name:</label>
                      </div>
                  </div>
                  <div class="form-group" style="padding-top:10px;">
                      <div class="e-float-input">
                          <input type="text" autocomplete="off" (focus)="onfocus($event)"
                              (blur)="onblur($event)" formControlName="smail" maxlength="15" />
                          <span class="e-float-line"></span>
                          <label class="e-float-text e-label-bottom">Email:</label>
                      </div>
                  </div>
                  <div class="form-group" style="padding:10px;">
                      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                          <button ejs-button [disabled]="!skillForm.valid">Done</button></div>
                      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                          <button ejs-button type="reset" (click)="onreset($event)">Cancel</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div class="col-lg-4 property-section">
          <div class="property-panel-section">
              <div class="property-panel-header">Properties</div>
              <div class="property-panel-content" style="padding: 10px;">
                  <table id="property" class="box-table" title="Properties" style="width: 100%;">
                      <tr>
                          <td style="width:50%">Selected Language: </td>
                          <td class="formtext">{{ skillForm.get('skillname').value }}</td>
                      </tr>
                      <tr>
                          <td style="width:50%">Buyer Name: </td>
                          <td class="formtext">{{ skillForm.get('sname').value }}</td>
                      </tr>
                      <tr>
                          <td style="width:50%">Buyer Mail ID: </td>
                          <td class="formtext">{{ skillForm.get('smail').value }}</td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>