

<a [routerLink]="['/grid']">
  Grid
</a>&nbsp;&nbsp;
<a [routerLink]="['/calendar']">
  Calendar
</a>&nbsp;&nbsp;
<a [routerLink]="['/form']">
  Form
</a>&nbsp;&nbsp;
<a [routerLink]="['/report']">
  Report
</a>&nbsp;&nbsp;
<a [routerLink]="['/pivot']">
  Pivot
</a>&nbsp;&nbsp;
<a [routerLink]="['/odata']">
  OData
</a>&nbsp;&nbsp;
<router-outlet></router-outlet>
