`<button #addButton ejs-button id="addButton" type="button" content="Add" (click)="onButtonClick()">Add</button>
  <ejs-schedule #scheduleObj width='100%' height='520px' [selectedDate]="selectedDate" [eventSettings]="eventSettings" [views]="scheduleViews"></ejs-schedule>